<%- include("header") %>

<% if (error) { %>
<div class="alert alert-danger">
	<%= message %>
</div>
<% }else{ %>

<h1><%= produit.nom %></h1>

<div class="row">
	<div class="col-lg-7">
		<img src="<%= produit.image %>" class="img-fluid">
	</div>	

	<div class="col-lg-5">
		<h2>Prix</h2>
		<p><%= produit.prix %> €</p>

		<h2>Description</h2>
		<p><%= produit.description %></p>

		<button type="button" class="btn btn-success btn-block">Ajouter au panier</button>

	</div>	
</div>
<% } %>


<%- include("footer") %>